@use "../../styles/variables.scss" as *;
@forward "../../components/styles/explorer.scss";

.explorer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > #explorer-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    & > button {
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--darkgray);

      &:hover {
        color: var(--secondary);
      }
    }
  }
}

.explorer-content {
  & ul li {
    & > a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  .folder-container {
    min-width: 0;

    & > div {
      min-width: 0;
      flex: 1;

      & > a,
      & > button {
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        & > span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
